# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  graphics,
  stats,
  utils,
  grDevices, 
  methods,
  png,
  sp
)

#importFrom(RColorBrewer, brewer.pal)
#importFrom(PBSmapping,plotPolys,calcCentroid,addPolys)
#importFrom(sp,CRS, proj4string, coordinates,bbox,spTransform)
