runtime:
    cache_dir: ./.cache/antora

site:
    title: The Examples Book
    url: https://the-examples-book.com
    robots: allow
    start_page: ROOT:ROOT:index.adoc
    keys:
        google_analytics: "G-8E17Z3P7JJ"

ui:
    bundle:
        url: https://github.com/TheDataMine/tdm-antora/releases/latest/download/ui-bundle.zip
        snapshot: true
    supplemental_files: ./supplemental-ui

git:
    ensure_git_suffix: false

urls:
    redirect_facility: static
    html_extension_style: drop

content:
    sources:
        - url: https://github.com/TheDataMine/the-examples-book
          branches: main
          start_paths: ROOT
        - url: git@github.com:TheDataMine/internal
          branches: main
          start_paths: content
        - url: https://github.com/TheDataMine/the-examples-book
          branches: main
          start_paths: corporate-partners-appendix
        - url: https://github.com/TheDataMine/the-examples-book
          branches: main
          start_paths: projects-appendix
        - url: https://github.com/TheDataMine/the-examples-book
          branches: main
          start_paths: personal-appendix
        - url: https://github.com/TheDataMine/the-examples-book
          branches: main
          start_paths: tools-appendix
        - url: https://github.com/TheDataMine/the-examples-book
          branches: main
          start_paths: seminar-ta-training-appendix
        - url: https://github.com/TheDataMine/the-examples-book
          branches: main
          start_paths: meeting-etiquette-appendix

asciidoc:
    attributes:
        page-component-order: "!home, *, asciidoclet, reveal.js-converter, epub3-converter, diagram-extension, about"
        page-pagination: ""
        experimental: ""
        idprefix: "@"
        idseparator: "-@"
        table-caption: false
        table-frame: "none@"
        table-grid: "rows@"
        example-caption: false
        listing-caption: false
        hide-uri-scheme: "@"
        url-project: https://the-examples-book.com
        url-org: https://github.com/TheDataMine
