runtime:
  cache_dir: ./.cache/antora

site:
  title: The Examples Book
  url: https://the-examples-book.com
  robots: allow
  start_page: book:ROOT:introduction.adoc
  keys:
    google_analytics: 'G-8E17Z3P7JJ'

ui:
  bundle:
    url: https://github.com/TheDataMine/tdm-antora/releases/latest/download/ui-bundle.zip
    snapshot: true
  supplemental_files: ./supplemental-ui

git:
  ensure_git_suffix: false

urls:
  redirect_facility: netlify
  html_extension_style: drop

content:
  sources:
  - url: .
    branches: HEAD
    start_paths: book
  - url: https://github.com/TheDataMine/corporate-partners-appendix
    branches: HEAD
    start_paths: content
  - url: https://github.com/TheDataMine/university-partners-appendix
    branches: HEAD
    start_paths: content
  - url: https://github.com/TheDataMine/scholar-appendix
    branches: HEAD
    start_paths: content
  - url: https://github.com/TheDataMine/geospatial-appendix
    branches: HEAD
    start_paths: content
  - url: .
    branches: HEAD
    start_paths: think-summer-appendix
  - url: https://github.com/TheDataMine/projects-appendix
    branches: HEAD
    start_paths: content
  - url: https://github.com/TheDataMine/matlab-appendix
    branches: HEAD
    start_paths: content
  - url: https://github.com/TheDataMine/data-visualization-appendix
    branches: HEAD
    start_paths: content
  - url: .
    branches: HEAD
    start_paths: time-series-appendix
  - url: https://github.com/TheDataMine/nlp-appendix
    branches: HEAD
    start_paths: content
  - url: .
    branches: HEAD
    start_paths: kubernetes-appendix
  - url: https://github.com/TheDataMine/data-science-book-list-appendix
    branches: HEAD
    start_paths: content
  - url: https://github.com/TheDataMine/prodigy-appendix
    branches: HEAD
    start_paths: content
  - url: https://github.com/TheDataMine/optimization-techniques-appendix
    branches: HEAD
    start_paths: content
  - url: https://github.com/nicholasrosenorn/agile-trainings
    branches: HEAD
    start_paths: content
  - url: https://github.com/TheDataMine/data-science-theory
    branches: HEAD
    start_paths: content

asciidoc:
  attributes:
    page-component-order: '!home, *, asciidoclet, reveal.js-converter, epub3-converter, diagram-extension, about'
    page-pagination: ''
    experimental: ''
    idprefix: '@'
    idseparator: '-@'
    table-caption: false
    table-frame: 'none@'
    table-grid: 'rows@'
    example-caption: false
    listing-caption: false
    hide-uri-scheme: '@'
    url-project: https://the-examples-book.com
    url-org: https://github.com/TheDataMine
