runtime:
  cache_dir: ./.cache/antora

site:
  title: The Examples Book
  url: https://the-examples-book.com
  robots: allow
  start_page: book:ROOT:introduction.adoc
  keys:
    google_analytics: 'G-8E17Z3P7JJ'

ui:
  bundle:
    url: https://github.com/TheDataMine/tdm-antora/releases/latest/download/ui-bundle.zip
    snapshot: true
  supplemental_files: ./supplemental-ui

git:
  ensure_git_suffix: false

urls:
  redirect_facility: netlify
  html_extension_style: drop

content:
  sources:
  - url: .
    branches: HEAD
    start_paths: book
  - url: .
    branches: HEAD
    start_paths: corporate-partners-appendix
  - url: .
    branches: HEAD
    start_paths: ndmn-appendix
  - url: .
    branches: HEAD
    start_paths: university-partners-appendix
  - url: .
    branches: HEAD
    start_paths: think-summer-appendix
  - url: .
    branches: HEAD
    start_paths: REEU-appendix
  - url: .
    branches: HEAD
    start_paths: projects-appendix
  - url: .
    branches: HEAD
    start_paths: registration-appendix
  - url: .
    branches: HEAD
    start_paths: personal-appendix
  - url: .
    branches: HEAD
    start_paths: professional-development-appendix
  - url: .
    branches: HEAD
    start_paths: starter-guides
  - url: .
    branches: HEAD
    start_paths: programming-languages
  - url: .
    branches: HEAD
    start_paths: workshops
  - url: .
    branches: HEAD
    start_paths: template-module
  - url: .
    branches: HEAD
    start_paths: deaf-pods
  - url: .
    branches: HEAD
    start_paths: seminar-ta-training-appendix

asciidoc:
  attributes:
    page-component-order: '!home, *, asciidoclet, reveal.js-converter, epub3-converter, diagram-extension, about'
    page-pagination: ''
    experimental: ''
    idprefix: '@'
    idseparator: '-@'
    table-caption: false
    table-frame: 'none@'
    table-grid: 'rows@'
    example-caption: false
    listing-caption: false
    hide-uri-scheme: '@'
    url-project: https://the-examples-book.com
    url-org: https://github.com/TheDataMine
