backoff==1.10.0
beautifulsoup4==4.9.1 
block-timer==0.2.0
bs4==0.0.1 
cython==0.29.21
flask==1.1.2
jinja2==2.11.2
joblib==1.0.0
lxml==4.6.2
matplotlib==3.2.1
mypy==0.790
mysql-connector-python==8.0.21 
nltk==3.5 
numpy==1.19.5
pandas==1.2.0
pexpect==4.8.0
protobuf==3.14.0 
regex==2020.11.13 
requests-html==0.10.0
requests-oauthlib==1.3.0
requests==2.20.0
xlrd==1.2.0
rdatasets==0.1.0
