absl-py==0.12.0
anyio==2.1.0
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
appnope @ file:///Users/runner/miniforge3/conda-bld/appnope_1610094688183/work
argon2-cffi @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi_1610522600362/work
async-generator==1.10
atomicwrites==1.4.0
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
Babel==2.9.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.3
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1599478779128/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1612213472466/work
branca==0.4.2
brotlipy==0.7.0
bs4==0.0.1
certifi==2020.12.5
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1606601143848/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1610093485994/work
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1612830522784/work
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
Fiona==1.8.18
folium==0.12.1
GeoAlchemy2==0.8.4
geopandas==0.8.2
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1611836818287/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1612890215536/work
gpxpy==1.4.2
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1610355188505/work
importlib-resources @ file:///Users/runner/miniforge3/conda-bld/importlib_resources_1611036187714/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1611268343455/work/dist/ipykernel-5.4.3-py3-none-any.whl
ipytest==0.9.1
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1612487017489/work
ipython-genutils==0.2.0
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1610146990595/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1612119311452/work
joblib==1.0.1
json5==0.9.5
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1610375432619/work
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1612125292413/work
jupyter-server==1.3.0
jupyterlab==3.0.7
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server==2.2.0
kiwisolver @ file:///opt/concourse/worker/volumes/live/1e6d28e8-da14-4365-7344-567a05db7efc/volume/kiwisolver_1612282399491/work
leuvenmapmatching==0.5.3
lxml==4.6.2
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1610127518065/work
matplotlib==3.3.4
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1610112898998/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mlrose==1.3.0
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1612756563342/work
munch==2.5.0
mypy-extensions @ file:///Users/runner/miniforge3/conda-bld/mypy_extensions_1610127193392/work
nbclassic==0.2.6
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1612903843315/work
nbconvert @ file:///Users/runner/miniforge3/conda-bld/nbconvert_1605401854071/work
nbdime @ file:///home/conda/feedstock_root/build_artifacts/nbdime_1601645814261/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1611005694671/work
nest-asyncio==1.5.1
networkx==2.5.1
notebook @ file:///Users/runner/miniforge3/conda-bld/notebook_1610575486451/work
numpy @ file:///opt/concourse/worker/volumes/live/a1b5ea96-b05c-40ba-5dfb-4542ece1c186/volume/numpy_and_numpy_base_1603491228242/work
ortools==8.2.8710
osgeo==0.0.0
osmnx==1.0.1
osmread==0.2
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas==1.2.1
pandasql==0.7.3
pandocfilters==1.4.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1607618318316/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1605120834673/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==8.1.0
pluggy @ file:///Users/runner/miniforge3/conda-bld/pluggy_1610318097276/work
polyline==1.4.0
postgis==1.0.4
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1605543085815/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1611605286670/work
protobuf==3.15.8
psycopg2-binary==2.8.6
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///home/conda/feedstock_root/build_artifacts/py_1607783655754/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1610742651773/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyproj==3.0.0.post1
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1610146821108/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1610291468418/work
pytest==4.0.0
pytest-notebook @ file:///home/conda/feedstock_root/build_artifacts/pytest-notebook_1604368914908/work
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
pyzmq==22.0.2
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1610146851075/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
Rtree==0.9.7
scikit-learn==0.24.1
scipy==1.6.2
Send2Trash==1.5.0
Shapely==1.7.1
six @ file:///opt/concourse/worker/volumes/live/f983ba11-c9fe-4dff-7ce7-d89b95b09771/volume/six_1605205318156/work
sklearn==0.0
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
smopy==0.0.7
sniffio==1.2.0
soupsieve==2.2
SQLAlchemy @ file:///opt/concourse/worker/volumes/live/d97f0cdc-8dfd-4e6b-7f55-6ab4d8a970b2/volume/sqlalchemy_1612467551203/work
SQLAlchemy-Utils==0.36.8
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1609794190668/work
testpath==0.4.4
threadpoolctl==2.1.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1610094698292/work
tqdm==4.56.2
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
typed-ast @ file:///Users/runner/miniforge3/conda-bld/typed-ast_1609539400253/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1611695416663/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1603668650351/work
