{{#with site.homeUrl}}
<a href="{{{this}}}">
<svg width="1000px" viewBox="0 0 2057 1111" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>404</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Letter" transform="translate(-632.000000, -765.000000)">
            <g id="Group" transform="translate(635.000000, 768.000000)">
                <g id="backsplash" opacity="0.349174863" stroke="#979797" stroke-width="5">
                    <circle id="Oval" fill="#FF7B7B" fill-rule="nonzero" cx="553.5" cy="92.5" r="92.5"><animate
                    attributeType="XML"
                    attributeName="fill"
                    values="#ff3333;#FF7B7B;"
                    dur="0.15s"
                    begin="0.15s"
                    repeatDur="0.5s"/></circle>
                    <circle id="Oval" fill="#95FFBE" fill-rule="nonzero" cx="1607.5" cy="305.5" r="92.5">
                    <animate
                    attributeType="XML"
                    attributeName="fill"
                    values="#4dff91;#95FFBE;"
                    dur="0.15s"
                    begin="0s"
                    repeatDur="0.5s"/></circle>
                    <circle id="Oval" fill="#95FFBE" fill-rule="nonzero" cx="677.5" cy="418.5" r="92.5"><animate
                    attributeType="XML"
                    attributeName="fill"
                    values="#4dff91;#95FFBE;"
                    dur="0.15s"
                    begin="0.15s"
                    repeatDur="0.5s"/></circle>
                    <circle id="Oval" fill="#95FFBE" fill-rule="nonzero" cx="92.5" cy="919.5" r="92.5"><animate
                    attributeType="XML"
                    attributeName="fill"
                    values="#4dff91;#95FFBE;"
                    dur="0.15s"
                    begin="0.3s"
                    repeatDur="0.5s"/></circle>
                    <circle id="Oval" fill="#95FFBE" fill-rule="nonzero" cx="1264.5" cy="952.5" r="92.5"><animate
                    attributeType="XML"
                    attributeName="fill"
                    values="#4dff91;#95FFBE;"
                    dur="0.15s"
                    begin="0.45s"
                    repeatDur="0.5s"/></circle>
                    <circle id="Oval" fill="#FFEF92" fill-rule="nonzero" cx="1958.5" cy="1012.5" r="92.5"><animate
                    attributeType="XML"
                    attributeName="fill"
                    values="#ffe44d;#FFEF92;"
                    dur="0.15s"
                    begin="0.35s"
                    repeatDur="0.5s"/></circle>
                    <circle id="Oval" fill="#FFEF92" fill-rule="nonzero" cx="1185.5" cy="134.5" r="92.5"><animate
                    attributeType="XML"
                    attributeName="fill"
                    values="#ffe44d;#FFEF92;"
                    dur="0.15s"
                    begin="0.5s"
                    repeatDur="0.5s"/></circle>
                    <circle id="Oval" fill="#FF7B7B" fill-rule="nonzero" cx="1051.5" cy="655.5" r="92.5"><animate
                    attributeType="XML"
                    attributeName="fill"
                    values="#ff3333;#FF7B7B;"
                    dur="0.15s"
                    begin="0.15s"
                    repeatDur="0.5s"/></circle>
                    <line x1="139.5" y1="836.5" x2="518.5" y2="178.5" id="Line" stroke-linecap="square"></line>
                    <line x1="162.5" y1="853.5" x2="609.5" y2="484.5" id="Line" stroke-linecap="square"></line>
                    <line x1="179.5" y1="874.5" x2="972.5" y2="705.5" id="Line" stroke-linecap="square"></line>
                    <line x1="189.5" y1="918.5" x2="1170.5" y2="967.5" id="Line" stroke-linecap="square"></line>
                    <line x1="645.5" y1="93.5" x2="1092.5" y2="136.5" id="Line" stroke-linecap="square"></line>
                    <line x1="596.5" y1="178.5" x2="645.5" y2="327.5" id="Line" stroke-linecap="square"></line>
                    <line x1="1324.5" y1="874.5" x2="1578.5" y2="397.5" id="Line" stroke-linecap="square"></line>
                    <line x1="1361.5" y1="967.5" x2="1866.5" y2="1021.5" id="Line" stroke-linecap="square"></line>
                    <line x1="1278.5" y1="163.5" x2="1520.5" y2="271.5" id="Line" stroke-linecap="square"></line>
                    <line x1="770.5" y1="388.5" x2="1092.5" y2="136.5" id="Line" stroke-linecap="square"></line>
                    <line x1="636.5" y1="136.5" x2="1876.5" y2="967.5" id="Line" stroke-linecap="square"></line>
                </g>
                <text id="Page-Not-Found" font-family="SignPainter-HouseScript, SignPainter" font-size="300" font-style="condensed" font-weight="normal" fill="#2C0900">
                    <tspan x="303" y="673">Page Not Found</tspan>
                </text>
                <text id="404" font-family="SignPainter-HouseScript, SignPainter" font-size="300" font-style="condensed" font-weight="normal" fill="#2C0900">
                    <tspan x="824" y="463">404</tspan>
                </text>
            </g>
        </g>
    </g>
</svg>
</a>
{{/with}}