<footer class="footer">
  <p>Purdue University, The Data Mine, Hillenbrand Hall, 1301 Third Street, West Lafayette, IN 47906-4206, (765) 494-0325</p>
  <p><a href="http://www.purdue.edu/purdue/disclaimer.html" target="_blank" rel="noopener">© 2024 Purdue University</a> | <a href="http://www.purdue.edu/purdue/ea_eou_statement.html" target="_blank" rel="noopener">An equal access/equal opportunity university</a> | <a href="https://www.purdue.edu/home/integrity_statement/" target="_blank" rel="noopener">Integrity Statement</a> | <a href="https://www.purdue.edu/securepurdue/security-programs/copyright-policies/reporting-alleged-copyright-infringement.php" target="_blank" rel="noopener">Copyright Complaints</a> | <a href="https://datamine.purdue.edu">Maintained by The Data Mine</a></p>
  <p>Contact The Data Mine at <a href="mailto:datamine@purdue.edu?subject=Accessibility Issue with Your Webpage">datamine@purdue.edu</a> for accessibility issues with this page | <a href="https://www.purdue.edu/disabilityresources/" rel="noopener">Accessibility Resources</a></p>
</footer>
