<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item logo">
          <a href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      </div>
      <div class="navbar-item" data-panel="search">
        <input type="search" id="search-bar-input" placeholder="Search book" />
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">
            Appendices
          </div>
          <div class="navbar-dropdown is-right">
            {{#each site.components}}
              <a class="navbar-item {{~#if (eq this @root.page.component)}} is-current{{/if~}}" href="{{{relativize ./url}}}">
                {{{./title}}}
              </a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
   {{!-- Don't show the burger nav ever, since it is unused. --}}
    {{! 
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
      </div>
    </div>
    }}
  </nav>
</header>